td
{
	padding-left: 2px;
	padding-right: 2px;
}
#clear
{
	clear: both;
	height: 10px;
}
#clear_top
{
	clear: both;
	height: 6px;
	width: 300px;
}
#banner_main
{
	height: 90px;
	margin-left: 5px;
	margin-right: 1px;
}

#logo
{
	height: 74px;
	width: 201px;
	float: left;
	/*background: url(Images/icon_user.gif) no-repeat top left;*/
}
#logo2
{
	height: 74px;
	width: 201px;
	float: left;
	/*background: url(Images/icon_user2.gif) no-repeat top left;*/
}
#logo3
{
	height: 74px;
	width: 201px;
	float: left;
	/*background: url(Images/icon_user3.gif) no-repeat top left;*/
}
#logo4
{
	height: 74px;
	width: 201px;
	float: left;
	/*background: url(Images/icon_user4.gif) no-repeat top left;*/
}

#text_logo
{
	font-weight: bold;
	padding-left: 62px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 22px;
	line-height: 16px;
}
#banner
{
	margin-left: 212px;
	height: 90px;
	text-align: left;
}
#language
{
	height: 32px;
	margin-right: 10px;
	text-align: right;
	padding-right: 5px;
	min-width: 300px;
}
#language_box
{
	width: 115px;
	float: right;
	height: 24px;
	vertical-align: bottom;
	margin-top: 5px;
}
#button
{
	height: 57px;
	margin-right: 10px;
	background: url(Images/bg_button.jpg) repeat-x top;
	min-width: 750px;
}
#g_left
{
	width: 7px;
	height: 56px;
	float: left;
	background: url(Images/gLeft_button.jpg) no-repeat top;
}
#g_right
{
	width: 7px;
	height: 56px;
	float: right;
	background: url(Images/gRight_button.jpg) no-repeat top;
}
#button_main
{
	display: block;
	height: 29px;
	font-size: 11px;
	font-weight: bold;
	font-size: 11px;
	background: transparent url( "Images/bgOFF.gif" ) repeat-x top left;
	font-family: arial,tahoma,verdana,helvetica,sans-serif;
}
#button_main li
{
	display: block;
	float: left;
}
#button_main li a
{
	display: block;
	float: left;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 26px;
	height: 29px;
	background: transparent url( "Images/bgDIVIDER.gif" ) no-repeat top right;
}
#button_main li a:hover
{
	color: #333333;
	background: transparent url( "Images/bgON.gif" ) no-repeat top right;
}
#button_main li a.current
{
	color: #9d1c1c;
	background: transparent url( "Images/bgON.gif" ) no-repeat top right;
}
#news_main
{
	height: 28px;
	color: #CC0000;
	width: auto;
}
#text_news
{
	height: 28px;
	margin-right: 28px;
	float: inherit;
	padding-right: 28px;
	line-height: 25px;
	color: #0853de;
	text-align: right;
}
#text_news a
{
	text-decoration: none;
}
#text_news_out
{
	background: url(Images/line_news.gif) no-repeat right;
	margin-right: 120px;
}
#text_news_out:hover
{
	background: url(Images/line_newsOV.gif) no-repeat right;
}
#button_top
{
	float: right;
	margin-right: 2px;
	width: 110px;
}
.b_top
{
	height: 16px;
	border: 1px #2c2c2c solid;
	background: url(Images/BGb_top.jpg) repeat-x top;
	color: #FFFFFF;
	line-height: 15px;
	cursor: pointer;
	float: right;
	display: table;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	margin: 3px 0px 1px 0px;
	float: right;
}
.b_top:hover
{
	color: #FF6600;
}
#button_left
{
	width: 200px;
	margin-left: 7px;
	margin-right: 2px;
}
#clock
{
	float: right;
	color: #FFF;
	padding: 8px 5px 0px 28px;
	font-weight: normal;
	background: url(Images/clock.png) no-repeat left 4px;
	height: 20px;
}
