.pleft
{
	padding-left: 5px;
}
.RptNameL
{
	height: 25px;
	width: 1px;
}
.hdmain
{
	padding-left: 20px;
	height: 22px;
}
.RptName
{
	color: #36485e;
	margin: 0px;
	font-size: 14px;
	clear: both;
	font-weight: bold;
	background: url(../../Master/Images/bullet.jpg) no-repeat left 5px;
	line-height: 20px;
	padding-top: 4px;
	vertical-align: text-top;
	white-space: nowrap;
}
.RptNameR
{
	height: 25px;
	width: 20px;
}
#btntop td
{
	height: 20px;
}
td.btnmd
{
	background: transparent url(../../Master/Images/rightf001.gif);
	vertical-align: middle;
	border-width: 0px;
	padding-left: 15px;
	text-align: left;
	width: 130px;
}
td.btnmd2
{
	background: transparent url(../../Master/Images/rightf001.gif);
	vertical-align: middle;
	border-width: 0px;
}
td.btnright
{
	background: transparent url(../../Master/Images/rightf001a.gif) no-repeat top left;
	width: 1px;
	height: 20px;
}
table.mp
{
	border-style: none;
	position: relative;
}
span.mp
{
	color: #333399;
	font-weight: bold;
}
span
{
	font-weight: bold;
}
td.balancecredit
{
	font-weight: bold;
	color: blue;
}
.label
{
	font-size: 8pt;
}
a
{
	text-decoration: none;
	color: Blue;
}
a:link
{
	text-decoration: none;
	color: Blue;
}
a:visited
{
	text-decoration: none;
	color: Blue;
}
a:active
{
	text-decoration: none;
	color: Blue;
}

a:hover
{
	text-decoration: none;
	color: Red;
}
body
{
	font-family: Tahoma, sans-serif;
	font-size: 11px;
}
table
{
	font-family: @Tahoma, Sans-Serif;
	border-collapse: collapse;
	font-size: 8pt !important;
}
th
{
	text-align: center;
}
td
{
	text-align: center;
}
td.left
{
	text-align: left;
	padding-left: 5px;
}
td.leftNoBorder
{
	text-align: left;
	border-width: 0px;
}
td.right
{
	text-align: right;
	padding-right: 5px;
}

td.rightNoBorder
{
	text-align: right;
	border-width: 0px;
}
td.centerNoBorder
{
	text-align: center;
	border-width: 0px;
}
td.th
{
	color: #ffffff;
}
.tblRpt
{
	border-collapse: collapse;
	border: solid 1px #b7b7b7;
	background-color: #f7f0e4 !important;
}

.middle
{
	vertical-align: middle;
}
.tblRpt td
{
	padding-left: 3px;
	padding-right: 3px;
	border-color: #d4d0c8;
}
.tblTitleCenter
{
	background: #8C897E url(Images/bg_header02.jpg) repeat-x scroll center top;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	height: 22px;
}
.tblTitleCenter td
{
	text-align: left;
	padding-left: 20px;
	font-size: 12px;
}
.tblTitleCenter2
{
	background: #8C897E url(Images/bg_header02.jpg) repeat-x scroll center top;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	height: 22px;
}
.tblTitleLeft
{
	text-align: left;
	background-color: #BE824C;
	color: #ffffff;
	height: 22px;
}
.tblTitleRight
{
	text-align: right;
	background-color: #BE824C;
	color: #ffffff;
	height: 22px;
}
.leaguename
{
	color: #ffffff;
	font-weight: bolder;
}
.colorbg
{
	background-color: #f5eddd;
	height: 20px;
}
.bgwaiting
{
	background-color: #ffaaaa;
}
.firstrow
{
	background-color: #f5eddd;
	height: 20px;
}
.secondrow
{
	background-color: #ffffff;
	height: 20px;
}
.grayrow
{
	background-color: #ccc7ba;
	height: 20px;
}
.bgblue
{
	background-color: #88aaff;
}
.teamname
{
	color: #0000ff;
}
.bgcell
{
	background-color: #ffffff;
}
.colortext
{
	color: #555555;
}
.colorlive
{
	background-color: #ffddcc;
}
.colorred
{
	color: #ff0000;
}
.bggray
{
	background-color: #cccccc;
}
.font10right
{
	font-size: 10pt;
	text-align: right;
}
.tdNoBorder
{
	border-width: 0px;
}
td.leftbold
{
	width: 50%;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	height: 25px;
}
font.positive
{
	color: Blue;
	font-weight: bold;
}
font.negative
{
	color: #B50000;
	font-weight: bold;
}
.selectcomm
{
	width: 70px;
}
select, .sptPT
{
	width: 50px;
}
tr.bold
{
	font-weight: bold;
}
.class1
{
	border: solid 1px #000;
}
.class2
{
	background: #000000 url(Images/bg_popup.jpg) repeat scroll 0 0;
	padding-right: 1px;
}
.styleTooltip
{
	border: inset 1px #c28821;
	background-color: #f5eddd;
	width: 200px;
	height: 100px;
}
.mfcfirstrow
{
	background-color: #c28821;
	color: #ffffff;
	font-weight: bold;
	font-size: 8pt;
}

font.vs
{
	font-weight: bold;
	color: Black;
}
font.teamnameO
{
	font-size: 9pt;
	color: blue;
	font-weight: normal;
}
font.teamnameE
{
	color: blue;
	font-weight: bold;
}
a.league
{
	color: #c28821;
	text-decoration: none;
}

a.league:visited
{
	color: #c28821;
}
a.league:hover
{
	color: #ffa07a;
	text-decoration: none;
}
td.ftcolor
{
	color: #708090;
}
td.base
{
	background-color: #dddddd;
}
.passToolTip
{
	padding: 3px;
	color: red;
	width: 200px;
	background-color: #f5eddd;
	border: solid 2px #c28821;
}
.msgToolTip
{
	padding: 3px;
	color: #c28821;
	width: 500px;
	background-color: #f5eddd;
	border: solid 2px #c28821;
}
.tips
{
	padding: 3px;
	color: #c28821;
	font-weight: bold;
	background-color: #f5eddd;
	border: solid 2px #c28821;
}
INPUT.number
{
	padding-right: 5px;
	font-weight: bold;
	text-align: right;
}
@media print
{
	table
	{
		width: 650px;
	}
}
.tblTitleSoccer
{
	text-align: center;
	background-color: #38536A;
	color: #ffffff;
	font-weight: bold;
	height: 25px;
}
.tblTitleBasketball
{
	text-align: center;
	background-color: #38536A;
	color: #ffffff;
	font-weight: bold;
	height: 25px;
}
.inputimg
{
	height: 20px;
	width: 20px;
}
.inputwidth25
{
	height: 20px;
	width: 27px;
}
a.lNameOutright
{
	text-decoration: none;
	color: White;
}
a.lNameOutright:visited
{
	text-decoration: none;
	color: White;
}
a.lNameOutright:hover
{
	text-decoration: none;
	color: White;
}
.hidden
{
	display: none;
}
.errMsg
{
	color: red;
}
.minmaxbet
{
	color: #808080;
}
.sptPT
{
	border-collapse: collapse;
	border: solid 0px #ccc;
	background-color: #E8ECE4;
	padding-left: 1px;
}
.sptPT td
{
	white-space: nowrap;
}
.menuPT
{
	background-color: #4E6240;
	color: #ffffff;
}
.titleInfo
{
	background-color: #4E6240;
	color: #ffffff;
	font-weight: bold;
}
select, input
{
	font-family: Tahoma,Verdana;
	font-size: 8pt;
}
.custBtn1
{
	width: 31px;
	height: 25px;
	background: transparent url(../../Master/Images/leftBT.jpg) no-repeat top left;
}
.custBtn2
{
	background: transparent url(../../Master/Images/rpBT.jpg);
	padding-right: 40px;
	height: 25px;
	font-size: 11pt;
	text-align: left;
	text-indent: 20px;
	font-weight: bold;
	color: #ffffff;
}
.custBtn3
{
	background: transparent url(../../Master/Images/rightBT.jpg) no-repeat top left;
	height: 25px;
	width: 7px;
	font-size: 11pt;
	font-weight: bold;
	color: #000000;
}
.mainBtn
{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	cursor: pointer;
	width: 148px;
}
.mainBtnHover
{
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	cursor: pointer;
	width: 148px;
}
.mainBtnDisabled
{
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	cursor: progress;
}
.tblRpt td.paddleft200
{
	text-align: left;
	padding-left: 220px;
}
.normal
{
	text-align: center;
}

div#inProgressBar2
{
	background: transparent url(Images/ajax-loader.gif) no-repeat;
}
.hand
{
	cursor: pointer;
	margin-bottom: -3px;
}

.l
{
	text-align: left;
}

.c
{
	text-align: center;
}

.r
{
	text-align: right;
}
#username
{
	white-space: normal;
	font-weight: bold;
}
html
{
	cursor: default;
}
.menu_content
{
	width: 176px;
	float: left;
	margin-left: 1px;
}
.menu_content02
{
	height: 25px;
	margin-top: 5px;
}
.menu_content ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}
.menu_content li a
{
	height: 24px;
	padding-left: 12px;
	text-align: left;
	text-decoration: none;
	line-height: 25px;
	display: block;
	background: url(Images/button_content.jpg);
}
.menu_content li a:hover
{
	color: #9d1c1c;
	background: url(Images/button_content.jpg) 0 -24px;
}
.menu_content li a.md2
{
	color: #9d1c1c;
	background: url(Images/button_content.jpg) 0 -24px;
}
.menu_content li a.md2_on
{
	color: #333333;
	background: url(Images/button_content.jpg);
}
.tdPT1
{
	line-height: 22px;
}
.bgfc
{
	color: #9D1C1C;
}
