body
{
	background-color: #ebebeb;
	background-attachment: fixed;
}
.emsg_1_1
{
	background: url(Images/emsg_1_1.gif) no-repeat right bottom;
	width: 11px;
	height: 9px;
}
.emsg_1_2
{
	background: url(Images/emsg_1_2.gif) repeat-x left bottom;
}
.emsg_1_3
{
	background: url(Images/emsg_1_3.gif) no-repeat left bottom;
	width: 9px;
}
.emsg_2_1
{
	background: url(Images/emsg_2_1.gif) repeat-y right top;
}
.emsg_2_2
{
	background: url(Images/emsg_2_2.gif) repeat-y left top;
}
.emsg_3_1
{
	background: url(Images/emsg_3_1.gif) no-repeat right top;
	height: 8px;
}
.emsg_3_2
{
	background: url(Images/emsg_3_2.gif) repeat-x left top;
}
.emsg_3_3
{
	background: url(Images/emsg_3_3.gif) no-repeat left top;
}
.msgerr
{
	background: url(Images/error-icon.gif) no-repeat left top;
	padding: 1px 0px 4px 30px;
	margin-left: 5px;
	list-style: none;
	vertical-align: middle;
	text-align: left;
	color: #df2267;
	height: 24px;
}
.msgscc
{
	background: url(Images/Success.gif) no-repeat left top;
	padding-left: 30px;
	margin-left: 5px;
	list-style: none;
	vertical-align: middle;
	text-align: left;
	color: #2d9d3b;
	height: 24px;
}
a:link, a:visited
{
	color: #1e1eeb;
	text-decoration: none;
}
a:hover
{
	color: #FF6600;
	text-decoration: none;
}
td
{
	padding-left: 2px;
	padding-right: 2px;
}
.fl
{
	float: left;
}
.l
{
	text-align: left;
}
.r
{
	text-align: right;
}
.c
{
	text-align: center;
}
.b
{
	font-weight: bold;
}
.n
{
	font-weight: normal;
}
.bg_white
{
	background-color: #ffffff;
}
.bg_tb
{
	background-color: #cdcdcd;
}

.class1
{
	border: solid 1px #d4d0c8;
}
.class2
{
	background-color: #727272;
}
.btn
{
	background: url(Images/bg_buttonsite.jpg) repeat-x top;
	height: 19px;
	border: 1px #4d4d4d solid;
	cursor: pointer;
	padding-bottom: 3px;
}
.btn:hover
{
	background: url(Images/bg_buttonsiteOV.jpg) repeat-x top;
	border: 1px #dc871a solid;
}

.bg_eb
{
	background-color: #f7f0e4;
}

.bg_eb2
{
	background-color: #faf9ee;
}
.succ_1_1
{
	background: url(Images/succ_1_1.gif) no-repeat right bottom;
	width: 11px;
	height: 9px;
}
.succ_1_2
{
	background: url(Images/succ_1_2.gif) repeat-x left bottom;
}
.succ_1_3
{
	background: url(Images/succ_1_3.gif) no-repeat left bottom;
	width: 9px;
}
.succ_2_1
{
	background: url(Images/succ_2_1.gif) repeat-y right top;
}
.succ_2_2
{
	background: url(Images/succ_2_2.gif) repeat-y left top;
}
.succ_3_1
{
	background: url(Images/succ_3_1.gif) no-repeat right top;
	height: 8px;
}
.succ_3_2
{
	background: url(Images/succ_3_2.gif) repeat-x left top;
}
.succ_3_3
{
	background: url(Images/succ_3_3.gif) no-repeat left top;
}
input
{
	font-family: Tahoma, sans-serif;
	font-weight: normal;
	font-size: 1em;
}

#page_popup
{
	padding-top: 5px;
}
#header_popup
{
	color: #862626;
	background: url(Images/icon_pop.jpg) no-repeat left;
	padding-left: 20px;
	font-weight: bold;
	font-size: 11px;
	line-height: 25px;
}
table.tblPop
{
	background-color: #cdcdcd;
}
table.tblPop tr
{
	height: 20px;
}
table.tblPop td
{
	padding: 0 2px;
	height: 24px;
}
.RptHeader
{
	background: #8C897E url(Images/bg_header02.jpg) repeat-x scroll center top;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	height: 22px;
}
table.tblRpt
{
	background-color: #cdcdcd;
}
table.tblRpt tr
{
	height: 20px;
}
table.tblRpt td
{
	padding: 0 2px;
}
.odd_row
{
	background-color: #F6F8F9;
}
.even_row
{
	background-color: #faf9ee;
}

.bl_underdog
{
	color: #01122B;
	font-weight: bold !important;
}
.bl_favorite
{
	font-weight: bold !important;
	color: #B50000;
}
.trans_underdog
{
	color: blue;
}
.trans_favorite
{
	color: #B50000;
}
.bl_total_under
{
	color: #01122B;
	font-weight: bold;
}
.bl_total_fav
{
	font-weight: bold;
	color: #B50000;
}
.bl_btype
{
	color: #003399;
	font-weight: 600;
}
.bl_match
{
	color: #000000;
	font-weight: normal;
	line-height: 15px;
}
.bl_stype
{
	color: #0066CC;
}
.bl_lname
{
	color: #666666;
	line-height: 15px;
}
.bl_evt
{
	font-size: 11px;
	color: #ffffff;
}
.bl_time
{
	color: #434343;
	font-size: 7pt !important;
	font-weight: normal;
	text-align: center;
}
.bl_num
{
	color: #003399;
	font-size: 8pt;
}
.bl_evt
{
	font-size: 11px;
	color: #ffffff;
}
.bl_time
{
	color: #434343;
	font-size: 7pt !important;
	font-weight: normal;
}
.bl_stype
{
	color: #0066CC;
}
.bl_lname
{
	color: #666666;
	line-height: 15px;
	margin-top: 1px;
}
.LastGoal
{
	background: url(Images/lastGoal.gif) no-repeat center center;
	height: 10px;
	width: 14px;
	display: inline;
	padding: 0 4px;
}
.FirstGoal
{
	background: url(Images/firstGoal.gif) no-repeat center center;
	height: 10px;
	width: 14px;
	display: inline;
	padding: 0 4px;
}
.imaLink img
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	border: 0px solid #ccc;
}
.imaLink:hover img
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.6;
	border: 0px dotted #666666;
}
.b_add
{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}
.b_add li
{
	font-size: 12px;
	display: inline;
}
.b_add a
{
	font-size: 12px;
	float: left;
	background: url(Images/b_left.gif) no-repeat left top;
	min-width: 64px;
	margin-right: 2px;
	padding-left: 6px;
	text-decoration: none;
}
.b_add a span
{
	font-size: 12px;
	font-weight: bold;
	color: #333;
	float: left;
	min-width: 64px;
	display: block;
	background: url(Images/b_right.gif) no-repeat right top;
	padding: 4px 17px 4px 5px;
}
.b_add a:hover span
{
	color: #000;
	cursor: pointer;
	background-position: 100% -22px;
}
.b_add a:hover
{
	background-position: 0% -22px;
}
.b_add2
{
	background: transparent url(Images/b_addall.jpg) no-repeat scroll center top;
	color: #333333 !important;
	display: block;
	float: left;
	font-weight: bold;
	height: 23px;
	margin-top: 2px;
	text-align: center;
	text-decoration: none !important;
	width: 64px;
	line-height: 21px;
}
.b_add2:hover
{
	background: transparent url(Images/b_addallOV.jpg) no-repeat scroll center top;
}
.b_mix
{
	font-weight: bold;
	width: auto;
	line-height: 16px;
	float: left;
	height: 20px;
}
.b_mix li
{
	display: inline;
}
.b_mix a
{
	float: left;
	background: url(Images/b_popleft1.jpg) no-repeat left top;
	margin-right: 2px;
	padding-left: 18px;
	text-decoration: none;
}
.b_mix a span
{
	font-size: 11px;
	font-weight: bold;
	color: #931b1b;
	float: left;
	text-transform: uppercase;
	display: block;
	background: url(Images/b_popleft2.jpg) no-repeat right top;
	padding: 2px 10px 4px 5px;
}
.b_mixLeague
{
	text-align: left;
	padding-left: 10px;
}

.b_mix_headPopup
{
	background: url(Images/bg_popup2.jpg) repeat-x top #dfdddc;
	height: 18px !important;
	color: #000;
	text-align: center;
}
.EnrichScc
{
	padding-left: 40px;
	text-align: left;
	position: relative;
	color: #2d9d3b;
	background: url(Images/infoMsg.gif) no-repeat left top;
	height: 30px;
	vertical-align: middle;
}
.Enrich
{
	padding-left: 40px;
	text-align: left;
	position: relative;
	color: #df2267;
	background: url(Images/infoMsg.gif) no-repeat left top;
	height: 30px;
	text-align: left;
	vertical-align: middle;
}
.EnrichErrmsg
{
	color: #df2267;
	height: 16px;
	background: url(Images/cross.png) no-repeat left top;
	padding-left: 20px;
	text-align: left;
}
.EnrichSuccmsg
{
	color: #2d9d3b;
	height: 16px;
	background: url(Images/tick.png) no-repeat left top;
	padding-left: 20px;
	text-align: left;
}
.EnrichUserName
{
	color: Blue;
	height: 16px;
	text-align: left;
	font-weight: bold;
}
